body{display: flex;
flex-direction: column;
align-content: center;
justify-content: center;}

.topbox{display: flex;
font-size: 85px;
border: solid 20px burlywood;
gap:  800px;
align-content: flex-start;
justify-content: flex-end;
border: solid burlywood;
background-color: chocolate;
border-radius: 15px;
color: burlywood;

}

.links{ display: flex;
    
    

margin: 40px;

}
.whole{display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 300px;
    height: 1000px;

}

.content1{
    width: 2200px;
    float: right;
    flex-direction: column;
    margin-left: 50px;
    font-size: 45px;
    height: 1000px;
}

.aside{ 
    width: 700px;
    font-size: 25px;
    gap: 35px;
    align-content: space-between;
    column-gap: 25px;
    justify-content: space-between;
}



.aside1{display: flex;
    border: solid burlywood 22px;
    border-radius: 15px;
    background-color: chocolate;
    color: burlywood;
    gap: 35PX;
    font-size: 100px;
    column-gap: 35px;
    justify-content: space-between;
    margin:40px;
    align-content: center;
    justify-content: center ;
    alignc
}

.footer{display: flex;
    background-color: black;
border: solid black;
height: 200px;
color: azure;
font-size: 45px;
align-content: center;
justify-content: space-around;}


.links2{border: solid burlywood;
    border-radius: 15px;
    background-color: chocolate;
    color:brown
}
h1{display: flex;
    margin-left: 550px;
    border: solid burlywood 22px;
border-radius: 15px;
background-color: chocolate;
color: burlywood;
width: 900px;
;}

p{border: solid burlywood 22px;
border-radius: 15px;
background-color: chocolate;
color:burlywood}

.customerreview{display: flex;
    background-color: gray;
height: 100px;
justify-content: center;
align-content: center;
padding: 25px;

}